.new-folder-modal-container{
    color: #fbfbfb;
}

.new-folder-modal{
    font-family: 'Noto Sans', sans-serif;
}
.new-folder-modal-close{
    margin: 5px;

}

p,button{
    font-family: 'Raleway', sans-serif;
}

input{
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.03);
    margin: 1rem;
    
    width: auto;
    
}
input:focus{
        border: 2px solid #331a4a;
        border-radius: 4px;
    
}

.new-folder-select,button{
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}


